/* Apply to all four sides */
/* margin: 1em; */
/* margin: -3px; */

/* vertical | horizontal */
/* margin: 5% auto; */

/* top | horizontal | bottom */
/* margin: 1em auto 2em; */

/* top | right | bottom | left */
/* margin: 2px 1em 0 auto; */

/* Global values */
/* margin: inherit;
margin: initial;
margin: unset; */

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --danger-color: #F53838;
  --stroke:#9398a8;
}

html, body, main {
  height: 100%;
  width: 100%;
}

body { 
  background: #F6F6F6;
  margin: 0;
  font-family: 'Rubik';
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 6em 4em;
}

.navbar {
  /* background: white; */
  padding: 1em;
  margin-top: 2em;
  /* position: fixed; */
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font: size 1.2em;
}

.navbar .container {
  display: flex;
  place-content: space-between;
}

.navbar nav {
  display: flex;
  flex-direction: row;
  background:none;
  position: unset;
  height: auto;
  width: 100%;
  padding: 0;
  margin-left: 5%;
  margin-top: 2px;
}

.navbar nav ul {
  display: flex;
}

.navbar nav ul.left-nav {
  margin: 0;
  width: 60%;
}

.navbar nav ul.left-nav li {
  padding: 0 1.5em;
}

ul.left-nav li a {
  color: black;
  text-decoration: none;
}

ul.left-nav li a:hover {
  font-weight: bold;
}

.navbar nav ul.right-nav {
 width: 30%;
 justify-content: flex-end; 
}

.navbar nav ul.right-nav li {
  padding: 0 1.5em;
}

ul.right-nav li:first-child a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.hero-cta h1 {
  width:10em;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
}

.hero-cta p {
  width: 30em;
}

p {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

h1{
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  color: #0B132A;
}


.btn {
  text-decoration: none;
  padding: 1em 3em;
  font-family: Rubik;
  font-style: normal;
  font-size: 16px;
  line-height:25px;
}

.btn-danger {
  background-color: var(--danger-color);
  border-radius:  10px;
  color: white;
}

.btn-outline-danger {
  color: var(--danger-color);
  border: 1px solid var(--danger-color);
  box-sizing: border-box;
  border-radius: 50px;
}

.btn-rounded-danger {
  color: var(--danger-color);
  border: 1px solid var(--danger-color);
  box-sizing: border-box;
  border-radius: 50px;
  color: white;
}

.btn-outline-rounded-danger {
   color: var(--danger-color);
  border: 1px solid var(--danger-color);
  box-sizing: border-box;
  border-radius: 50px;
}

/* global map */
.map {
  padding-bottom: 0;
  padding-top: 0;
}
.map-img {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}

.map-img img {
  width: 80%;
}

/* partner */
.partner {
  padding-top: 0;
  padding-bottom: 0;
}

.partner-img {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.partner-img img {
  width: 15%;
  margin-right: 5%;
}

/*  testimonial0 */

.testimonial {
  padding-top: 0;
  padding-bottom: 0;
}

.testimonial .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  margin-top: 0;
}

.testi-title {
  justify-content: center;
  text-align: center;
  width: 40%;
}

.testi-title h1 {
  margin-bottom: 0;
}

.testi-description {
  padding-top: 0;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.testi-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.testi-card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 5%;
}

.card-user {
  display: flex;
  flex-direction: row;
}

.card-user img {
  width: 25%;
  padding-right: 5%;
  height: 90%;
}

.user {
  margin-top: 7%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
}

h6, h3 {
  margin: 0;
}

/*  end */

.statistic-content {
  background: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  /* align-item: center; */
  justify-content: space-between;
}

.statistic-content .card {
  align-items: center;
  padding: 2.5em 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
}


.statistic-content .card div{
   display: flex;
   flex-direction: column;
}

.statistic-content .card div>span {
  font-size: 1.5em;
  font-weight: bold;
}

.statistic-content .card img{
   margin-right: 1em;
}

.statistic-content div:first-of-type + div {
  border-left: 1px solid var(--stroke);
  border-right: 1px solid var(--stroke);
}

.feature .container {
  display: flex;
  flex-direction:row;
  /* justify-content:space-between; */
}

.feature .container img {
  margin-right: 5%;
}

.feature-content h1 {
  width: 14.5em;
}

.feature-content p {
  width: 30em;
}

ul.feature-list li {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
} 

ul.feature-list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../img/bullet.png");
  background-size:contain;
  margin-right: .5em;
}

.plan-content {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.plan-content .pricing-group{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.pricing-group .pricing-card{
  width: 330px;
  height: 760px;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 1em 1.5em; 
  display: flex;
  flex-direction: column;
  align-items:center;
}

.pricing-card img{
  width: 144.9px;
  height: 165.37px;
  margin-top: 3em;
}

.pricing-card h1{
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}

ul.list li {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #4F5665;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
} 

ul.list li:before {
  content: '';
  left: -2em;
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../img/bullet.png");
  background-size:contain;
  margin-right: .5em;
}

.pricing-card .pricing-footer {
  margin-top: auto;
  height:8em;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  margin-bottom: 3em;
}

.pricing-footer h1{
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #0B132A;
}

.pricing-group .selected{
  border: 2px solid #F53838;
  box-sizing: border-box;
  border-radius: 10px;
}

.footer .container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
  margin-bottom: 2em;
}

.about {
  width: 340px;
}
.about h1{
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.menu h1{
  color: #0B132A;
  font-family: Rubik;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
}

ul.menu-item li {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

